@import url("https://fonts.googleapis.com/css2?family=Newsreader:ital,wght@0,400;0,500;0,600;0,700;1,300;1,400&display=swap");

html {
  font-family: "Newsreader", serif;
  font-size: 62.5%;
  line-height: 62.5%;
  background-color: #beb9a5;
}

body {
  display: grid;
  grid-template:
    "cabecalho cabecalho"
    "principal lateral"
    / 2fr minmax(200px, 350px);
}

.cabecalho {
  grid-area: cabecalho;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  padding: 40px 3vw;
  background-color: #223b3f;
}

.cabecalho .titulo {
  font-size: 3rem;
  font-weight: 600;
  line-height: 3.5rem;
  margin-bottom: 20px;
  color: #d5ba5f;
}

.cabecalho .autores {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2rem;
  color: #beb9a5;
}

.cabecalho .autores .autores-titulo {
  font-weight: 600;
}

.barraLateral {
  grid-area: lateral;
  padding: 10px 0px;
  width: 100%;
  background-color: #beb9a5;
}

.barraLateral .menu {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.barraLateral .menu li a {
  max-width: 100%;
  padding: 10px 30px;
  display: block;
  background-color: #8c8870;
  margin-bottom: 5px;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2rem;
  color: #020a09;
  transition: 250ms;
}

.barraLateral .menu li a:hover {
  box-shadow: 1px 1px #223b3f, 2px 2px #223b3f, 3px 3px #223b3f;
}

.parteCentral {
  grid-area: principal;
  background-color: #beb9a5;
  padding: 40px 3vw;
  color: #020a09;
}

.parteCentral h2 {
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 2.7rem;
}

.parteCentral p + h2 {
  margin-top: 60px;
}

.parteCentral p {
  margin: 20px 0px;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.5rem;
  text-align: justify;
}

.parteCentral h2 + p {
  margin-top: 25px;
}

.parteCentral h3 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 2.2rem;
}

.parteCentral .link {
  margin-left: 10px;
  color: #223b3f;
  transition: 250ms;
}
.parteCentral .link:hover {
  color: #020a09;
}

@media (max-width: 1000px) {
  body {
    display: grid;
    grid-template:
      "cabecalho cabecalho"
      "lateral vazio"
      "principal principal"
      / minmax(200px, 350px) 1fr;
  }
  .barraLateral .menu li a:hover {
    box-shadow: -1px 1px #223b3f, -3px 3px #223b3f, -2px 2px #223b3f;
  }
}
